<!DOCTYPE html>
<html>
  <head>
    <title>Donation Tracker Backend</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Donation Tracker Backend</h1>
    <p>Welcome to the donation tracker backend!</p>
  </body>
</html>
